# 📊 Sales Data Analysis Questions

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("Datasets/sales_data.csv")

In [5]:
data

,Order ID,Customer Name,Age,Gender,City,Product,Category,Price,Quantity,Total Sales,Purchase Date,Payment Method
0,1001,Karen Johnston,23,Male,Los Angeles,Laptop,Electronics,781,2,1562,2024-05-14,Cash on Delivery
1,1002,Dr. Kaylee Stevenson,42,Male,Houston,Science Book,Books,165,2,330,2024-10-02,Cash on Delivery
2,1003,Kelly Lopez,31,Male,Phoenix,Laptop,Electronics,139,1,139,2024-03-24,PayPal
3,1004,Michelle Hayes,57,Female,Houston,Microwave,Home Appliances,968,3,2904,2025-01-17,Cash on Delivery
4,1005,Kaitlyn Shannon,25,Male,San Diego,Shoes,Clothing,712,1,712,2025-02-17,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
195,1196,Emily Walker,33,Male,Houston,Tablet,Electronics,220,2,440,2024-05-14,Cash on Delivery
196,1197,Melvin Sims,47,Male,New York,Novel,Books,169,4,676,2024-12-26,Credit Card
197,1198,Jennifer Serrano,23,Male,San Antonio,Phone,Electronics,299,2,598,2024-04-18,Credit Card
198,1199,Ethan Cain,50,Female,San Jose,Jacket,Clothing,420,5,2100,2025-02-18,Cash on Delivery
199,1200,Steven Rodriguez,21,Male,Houston,Washing Machine,Home Appliances,725,1,725,2025-01-24,PayPal

### 1️⃣ What is the average age of customers?

In [7]:
data.Age.mean()

np.float64(39.535)

### 2️⃣ What is the most purchased product?

In [13]:
data.groupby("Product")["Quantity"].sum().idxmax()

'Magazine'

### 3️⃣ Which city has the highest number of orders?

In [14]:
data.groupby("City")["Quantity"].sum().idxmax()

'Phoenix'

### 4️⃣ What is the total revenue generated?

In [15]:
data["Total Sales"].sum()

np.int64(280243)

### 5️⃣ How many unique products were sold?

In [16]:
data.Product.unique()

array(['Laptop', 'Science Book', 'Microwave', 'Shoes', 'Novel', 'Tablet',
       'Sweater', 'Jacket', 'Magazine', 'T-Shirt', 'Headphones', 'Jeans',
       'Smartwatch', 'Washing Machine', 'Phone', 'Vacuum Cleaner',
       'Refrigerator', 'Comics', 'Air Conditioner', 'History Book'],
      dtype=object)

### 6️⃣ What is the most popular payment method?

In [17]:
data["Payment Method"].max()

'PayPal'

### 7️⃣ What is the average order quantity per transaction?

In [18]:
data.Quantity.mean()

np.float64(2.84)

### 8️⃣ Which category generates the highest revenue?

In [19]:
data.groupby("Category")["Total Sales"].sum().idxmax()

'Clothing'

### 9️⃣ What is the gender distribution of customers?

In [27]:
data.Gender.value_counts(normalize=True)*100

Gender
Male      52.0
Female    48.0
Name: proportion, dtype: float64

### 🔟 What is the highest and lowest order value?

In [29]:
highest = data["Total Sales"].max()
Lowest = data["Total Sales"].min()
print("Highest: ",highest) 
print("Lowest: ",Lowest)

Highest:  4985
Lowest:  17